body{
    background-color:#152934;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
img{
    float:left;
    border-radius: 156px;
    width:370px;
    margin-right:50px;
}
h2{
    text-align:center;
    color:#D9D9D9;
}
p,ul,ol{
    color:#FFFFFF;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
}
